*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 64px;
}
.heading{
    margin: 2% auto;
    text-align: center;
}
#Counter-box{
    text-align: center;
    margin: 5% auto;
    height: 25vh;
    width: 25vw;
    font-size: 8em;
    border: 5px solid black;
    border-radius: 10px;
    background-color: darkgrey;
}
.flex-container{
    display: flex;
    justify-content:space-around;
}

#inc-btn{
    cursor: pointer;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 2em;
    padding: 5px;
    background-color: lightgreen;
    border: 4px solid darkgreen;
    border-radius: 8px;
}

#dec-btn{
    cursor: pointer;
    text-align: center;
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 2em;
    background-color: lightsalmon;
    border: 4px solid darkred;
    border-radius: 8px;
}

#reset-btn{
    cursor: pointer;
    text-align: center;
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 2em;
    background-color: lightblue;
    border: 4px solid darkblue;
    border-radius: 8px;

}
#inc-btn #dec-btn #reset-btn{
    flex: 1;
}

.flex-container .btn:hover{
    background-color: white;
}